[Unit]
Description=Zero memory before sleep
Before=sleep.target hibernate.target hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=-/usr/sbin/zeromemory

[Install]
WantedBy=sleep.target hibernate.target hybrid-sleep.target
